.header {
    background-color: #2E4053;
    color: #9A7D0A;
    text-align: center;
}

.output {
    background-color: lightgrey;
    padding: 1em;
    text-align: center;
}

body {
    background-image: url("record.png");
    background-repeat: repeat;
    margin: 0;
}